:javascript
  setInterval('window.location.reload()', 3000)



#table
  #players{style: "margin-top: 20px;"}
    - if @table.matches.where(is_running: true).size > 0
      = render "tables/running_match"
    - else
      = render "tables/previous_match"
