.control-flag{
  overflow: hidden;
}
@media(max-width:767px){
  .control-flag{
    max-height: 110px;
  }
}
@media(min-width:768px){
  .control-flag{
    max-height: 110px;
  }
}
@media(min-width:992px){
  .control-flag{
    max-height: 145px;
  }
}
@media(min-width:1200px){
  .control-flag{
    max-height: 145px;
  }
}

.control-score{
  font-size: 4em;
  font-weight: bold;
  color: white;
}


/* fullscreen styles */
body.fullscreen{
  background-color: blue;
}
.fullscreen-container{
  padding-top: 70px;
}
.rounded-box{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-width: 4px;
  border-style: solid;
  border-color: white;
}
.player{
  padding: 10px;
}
.country-name{
  font-size: 60px;
  font-weight: bold;
  overflow: hidden;
  color: white;
}
.match-title{
  padding: 0;
  line-height: 70px;
  font-size: 70px;
  text-align: center;
  color: aqua;
  font-weight: bold;
  background-color: black;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.match-score-left{
  font-size: 150px;
  line-height: 160px;
  color: blue;
  background-color: white;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.match-score-right{
  font-size: 150px;
  line-height: 160px;
  color: blue;
  background-color: white;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.score {
  font-size: 360px;
  line-height: 300px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
  padding: 0;
}

.player-names{
  /* override body margin */
  margin-top: -20px;
}
.player-name {
  font-size: 100px;
  line-height: 100px;
  padding: 0px !important;
  color: white;
  letter-spacing: -12px;
}

.flag img{
  width: 380px;
  height: 180px;
  float: right;
}
.ball{
  height: 100px;
}
.ball img {
  height: 100px;
}
.cards-left {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 70px;
  line-height: 80px;
}
.cards-right {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 70px;
  line-height: 80px;
}
.yellow-card{
  color: blue;
  background-color: yellow;
  display: inline-block;
  border-radius: 10px;
  width: 70px;
  text-align: center;
}
.timeout {
  color: white;
  background-color: black;
  display: inline-block;
  border-radius: 10px;
  width: 70px;
  text-align: center;
}
.red-card{
  color: white;
  background-color: red;
  display: inline-block;
  border-radius: 10px;
  width: 70px;
  text-align: center;
}
.fullscreen-games {
}
.fullscreen-games table{
  margin-top: 40px;
  background-color: blue;
  text-align: center !important;
  display: inline-block !important;
}
.fullscreen-game-score-flag{
  height: 100px;
  width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
  float: right;
}
.fullscreen-game-score{
  font-size: 100px;
  line-height: 100px;
  color: blue;
  background-color: white;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 5px;
}
.fullscreen-logo{
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  margin-top: 40px;
  width: 360px;
}
.fullscreen-logo img {

}

.welcome-message h1{
  color: white;
  text-shadow: 0 0 10px #fafafa;
  font-size: 10em;
  text-align: center;
  margin-top: 150px;
}
.welcome-message h2{
  font-size: 5em;
  text-align: center;
}
.previous-title h1{
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 3em;
  text-align: center;
  color: white;
  font-weight: normal;
}

.winner{
  margin-bottom: 20px;
}
.winner-name{
  font-size: 3em;
  color: yellow;
  overflow: hidden;
  font-weight: bold;
}
.winner-name small{
  color: white;
}
.winner-score{
  font-size: 11em;
  color: yellow;
}
.loser-name{
  font-size: 3em;
  overflow: hidden;
  color: white;
  font-weight: bold;
}
.loser-score{
  font-size: 11em;
}